/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset browser styles */

.main-page {
    width: 770px;
    margin-left: auto;
    margin-right: auto;

}
.page-header {
    width: 785px;
    height: 40px;
    background-color: #4E729A;/*Цвет для выделения кнопок background-color: #2B587A;*/
    border-radius: 0 0 8px 8px;
}
.side-bar {
    width: 139px;
    height: 2500px;
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.page-body {
    width: 606px;
    display: inline-block;
    float: right;
    border-left: solid 1px #D9E0E7;
    padding-right: 14px;
}
tbody {
    display: table-row-group;
}
tr {
    display: table-row;
}
td {
    display: table-cell;
}
.logo-button {
    width: 140px;
    height: 40px;
    position: relative;
}
.logo-button a{
    position: absolute;
    top: 5px;
    left: 8px;
    height: 30px;
}
input {
    width: 163px;
    margin-right: 75px;
    margin-left: 9px;
}
.people-button a{
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    font-weight: bold;
    color: #E8EFF7;
    padding: 13px 9px;

}
.people-button:hover{
    background-color: #3d6087;
}
.people-button#music {
    padding-right: 35px;
}
.my-profile {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-profile:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-pr-edit {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #808080;
    padding: 5px;
    border-radius: 3px;
}
.my-pr-edit:hover {
    background-color: #e2e9f1;
    color: #2B587A;
}
.my-friend {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-friend:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-photo {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-photo:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-video {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-video:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-audio {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-audio:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-messages {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-messages:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-group {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-group:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-news {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-news:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-notification {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-notification:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-fave {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-fave:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-settings {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-settings:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-apps {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-apps:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-documents {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-documents:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-adds {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-adds:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.my-top-applications {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.my-top-applications:hover {
    background-color: #e2e9f1;
    border-radius: 3px;
}
.left-sidebar-block-border {
    border-bottom: solid 1px #e2e9f1;
    border-top: solid 1px #e2e9f1;
}
.main-body{
    border-right: solid 1px #D9E0E7;
}
.account-header {
    background-color: #E9EDF1;
}
.name-header {
    display: inline-block;
    padding: 8px 447px 8px 10px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #607387;
    font-weight: bold;
}
.header-status {
    display: inline-block;
    text-align: right;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #AAB7C5;
    font-weight: bold;
}
.account-side-bar {
    padding: 10px;
    float: left;
}
.profile-edit a {
    width: 173px;
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.profile-edit a:hover {
    background-color: #e2e9f1;
}
.profile-border {
    width: 200px;
    height: 1px;
    background-color: #E7EAED;
    margin-top: 5px;
    margin-bottom: 5px;
}
.number-video {
    padding-left: 58px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #8495A6;
}
.number-followers {
    padding-left: 71px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #8495A6;
}
.profile-rate {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 18px;
    position: relative;
}
.rate-text {
    color: #8BA1BC;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    position: absolute;
    padding-top: 2px;
    right: 80px;
}
.rate-lf {
    width: 162px;
    height: 18px;
    background-color: #DEE5EB;
    float: left;
}
.rate-rt {
    width: 38px;
    height: 18px;
    background-color: #F1F1F1;
    float: right;
}
.percent {
    padding-left: 30px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #8495A6;
}
.tell-school a {
    width: 170px;
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 0 5px 30px;
}
.tell-school a:hover {
    background-color: #e2e9f1;
}
.gifts {
    margin-top: 10px;
}
.gifts-button a {
    padding: 5px 20px 5px 8px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #607387;
    font-weight: bold;
    background-color: #DEE5EB;
}
.gifts-number {
    padding-left: 110px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 9px;
    color: #8495A6;
}
.gift-images {
    padding-top: 10px;
}
.top-line {
    width: 182px;
    padding: 5px 10px 5px 8px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #607387;
    font-weight: bold;
    background-color: #DEE5EB;
}
.bottom-line {
    background-color: #F1F1F1;
    width: 192px;
    color: #666;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    padding: 5px 0 5px 8px;
}
.people-block{
    margin-top: 10px;
    border-right: solid 1px #F1F1F1;;
}
.decoration1 {
    padding-left: 79px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #8495A6;
}
.fr-sh{
    display: inline-block;
    width: 55px;
    height: 94px;
    margin-left: 8px;
    margin-top: 10px;
}
.fr-sh2{
    display: inline-block;
    width: 55px;
    height: 94px;
    margin-left: 8px;
}
.dec-name-acc a{
    display: inline-block;
    color: #2B587A;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    text-align: center;
    font-size: 11px;
    padding-left: 5px;
}
.dec-name-acc a:hover {
    text-decoration: underline;
}
.middle-body {
    /*background-color: #ff7a88;*/
    padding-right: 10px;
    padding-top: 10px;
    float: right;
    width: 372px;
    height: 1200px;
}
.pages-block {
    margin-top: 10px;
    border-right: solid 1px #F1F1F1;
}
.icon-block {
    width: 32px;
    height: 32px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}
.icon-block-discription a{
    width: 146px;
    height: 32px;
    float: right;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding-top: 10px;
}
.icon-block-discription a:hover {
    text-decoration: underline;
}
.sec-group {
}
.int-pages {
    height: 40px;
}
.album-block {
    margin-top: 20px;
    border-right: solid 1px #F1F1F1;
}
.photo-alb {
    width: 200px;
    height: 236px;
}
.alb-icon {
    width: 190px;
    height: 118px;
    overflow: hidden;
    position: relative;
}
.alb-icon-pic1 {
    padding: 10px;
    width: 180px;
    overflow: hidden;

}
.alb-title {
    position: absolute;
    top: 99px;
    left: 10px;
    background: rgba(0, 0, 0, 0.47);
    color: white;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    font-weight: bold;
}
.alb-title-name {
    padding: 3px 12px 3px 5px;
    float: left;

}
.alb-title-name-camera {
    float: right;
    line-height: 22px;
    padding-left: 88px;
    padding-right: 6px;
}
.alb-title-name2 {
    padding: 3px 42px 3px 5px;
    float: left;

}
.alb-title-name-camera2 {
    float: right;
    line-height: 22px;
    padding-left: 88px;
    padding-right: 6px;
}
.video-alb {
    width: 200px;
}
.video-alb-icon {
    width: 190px;
    height: 165px;
}
.video-name-style {
    padding-left: 10px;
}
.video-name-style a {
    width: 180px;
    height: 30px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    overflow: hidden;
}
.video-icon-pic {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 180px;
    overflow: hidden;
}
.video-icon-pic2 {
    padding: 10px;
    width: 180px;
    overflow: hidden;
}
.video-comments {
    padding-left: 7px;
}
.video-comments-date{
    color: gray;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-weight: normal;
    padding: 0 4px;
    font-size: 10px;
}
.vd-cmts {
    color: #2B587A;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-weight: normal;
    font-size: 10px;
}
.video-preview {
    overflow: hidden;
    height: 110px;
}
.title-music {
    width: 120px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title-music a {
    color: #2B587A;
}
.title-music a:hover {
    text-decoration: underline;
}
.audio {
    width: 190px;
    height: 30px;
    margin-top: 10px;
    overflow: hidden;

}
.audio:hover {
    background: #E2E9F1;
}
.play-btn {
    width: 16px;
    height: 16px;
    background: url("play1.png")no-repeat 0px;
    padding-top: 13px;
    padding-right: 5px;
    margin-left: 6px;
}
.info {

}
.duration-music {
    float: right;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    color: gray;
    font-size: 10px;
    padding-left: 18px;
}
.profile-border2 {
    width: 190px;
    height: 1px;
    background-color: #E7EAED;
    margin-top: 20px;
    margin-bottom: 5px;
}
.statistic a {
    width: 163px;
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 0.7em;
    color: #2B587A;
    padding: 5px 20px 5px 7px;
}
.statistic a:hover {
    background-color: #e2e9f1;
}
.statistic {
    height: 300px;
}
.name {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 12px;
    color: #607387;
    font-weight: bold;
}
.status {
    padding-bottom: 5px;
}
.status a {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    color: #AAA;
    font-size: 11px;
    padding-top: 5px;
}
.status a:hover {
    text-decoration: underline;
}
.account-name {
    border-bottom: 1px solid #E7EAED;
}
.language {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    width: 135px;
    color: #777;
    font-size: 11px;
    padding-top: 10px;
    float: left;
}
.choose-lang {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    width: 135px;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: inline-block;
}
.choose-lang a{
    color: #607387;
}
.choose-lang a:hover {
    text-decoration: underline;
}
.show-info {
    display: block;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #607387;
    padding-top: 8px;
    padding-left: 135px;
    padding-bottom: 8px;
}
.show-info:hover {
    background-color: #E2E9F1;
}
.header-photo-block {
    background-color: #DEE5EB;
    height: 25px;
}
.left-photo-info {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #45688E;
    font-weight: bold;
    float: left;
    width: 227px;
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 5px;
}
.right-photo-info {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #99ADC2;
    font-weight: bold;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-right: 8px;
}
.right-photo-info:hover {
    text-decoration: underline;
}
.account-discription {
    padding-bottom: 10px;
}
.sized-post {
    display: inline-block;
    width: 70px;
    height: 70px;
    overflow: hidden;
}
.sized-photo-status {
    padding-top: 5px;
    padding-bottom: 10px;
}
.writes-block {
    background-color: #DEE5EB;
    height: 25px;
}
.left-writes-info {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #45688E;
    font-weight: bold;
    float: left;
    width: 261px;
    padding-top: 5px;
    padding-left: 7px;
    padding-bottom: 5px;
}
.right-writes-info {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 11px;
    color: #99ADC2;
    font-weight: bold;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-right: 8px;
}
.right-writes-info:hover {
    text-decoration: underline;
}